$xxs: "only screen and (max-width: 500px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";
$lg: "only screen and (max-width: 1400px)";

// $main: #c3a01b;

$blue: #0062a0;
$dark-blue: #262b3a;
$light-blue: #bad4e5;
$light: #fafcfd;
$yellow: #e6b100;
$pf: #6c7694;
